@model Whole30DietApp.Models.Recipe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instructions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instructions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuickInstructions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuickInstructions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Servings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredient1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredient2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredient3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredient4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredient5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredient6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredient7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredient8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredient9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredient10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredient11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredient12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredient13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredient14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredient15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredient16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredient17)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient17)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredient18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredient19)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient19)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredient20)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredient20)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
